.profile-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F8F8F8;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f3f4f6;
    padding: 20px;
    border: 1px solid #c7c4c4;
  }
  
  .sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 10px;
  }
  
  .sidebar li {
    margin: 5px 0;
    color: #c32148;
    font-weight: bold;
    cursor: pointer;
  }
  
  .profile-content {
    flex: 1;
    padding: 5px;
    text-align: center;
  }
  
  .profile-header {
    background-color: #cb4154;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .profile-header h2 {
    margin: 0;
  }
  
  .edit-button {
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .no-orders {
    margin-top: 40px;
    color: #555;
  }
  
  .no-orders-image {
    width: 150px;
    margin: 20px 0;
  }
  
  .no-orders h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .no-orders p {
    color: #888;
  }
  /* ProfilePage.css */
.profile-container {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #ddd;
}

.sidebar ul li.active {
  font-weight: bold;
  color: #007bff;
}

.profile-content {
  flex: 1;
  padding: 20px;
}
